<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Poppins:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Email</title>
    <style>
      @media only screen and (max-width: 600px) {
        .inner_container {
          padding: 15px 10px !important;
        }
      }
    </style>
  </head>
  <body
    style="
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      background-color: #5a566b;
      min-height: 100%;
    "
  >
    <div
      class="container"
      style="
        width: 100%;
        height: 100%;
        display: grid;
        flex-direction: column;
        align-items: center;
        padding: 20px 5px;
        box-sizing: border-box;
      "
    >
      <div>
        <p
          style="
            text-align: center;
            color: #f7f7f7;
            font-family: 'Jost', sans-serif;
            letter-spacing: 1px;
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
          "
        >
          POTENTIAL AI
        </p>

        <div
          class="inner_container"
          style="
            width: 90%;
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 30px 80px;
            max-width: 460px;
            box-sizing: border-box;
            margin: 0 auto;
          "
        >
          <p
            style="
              color: #5a566b;
              font-weight: 500;
              font-size: 22px;
              font-family: 'Jost', sans-serif;
            "
          >
            Welcome to Potential AI
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            Hey {{name}},
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            Congratulations and welcome to Potential AI!!
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            We are excited about joining you on your mission. Our goal is to
            help you take your venture to the next level and it starts here.
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            Your journey towards successful fundraising begins now. Let's get
            you started by setting up your account.
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            Our team is here to support you throughout this journey, please
            don't hesitate to contact us at
          </p>
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            let's do this
          </p>
          <img
            src="https://i.pinimg.com/736x/e9/22/82/e92282a661555afb1c20edb9a6bc4c7c.jpg"
            alt=""
            style="width: 60px; height: 60px; border-radius: 100%"
          />
          <p
            style="
              color: #5a566b;
              padding: 1px 0;
              font-family: 'Jost', sans-serif;
              line-height: 1.2;
              font-size: 15px;
              font-weight: 400;
            "
          >
            Founder &amp; CEO
          </p>
          <button
            style="
              background-color: #5a566b;
              color: white;
              border-radius: 8px;
              width: 100%;
              padding: 10px 0;
              cursor: pointer;
              font-family: 'Jost', sans-serif;
              letter-spacing: 1px;
              border: none;
            "
          >
            ACTIVATE YOUR ACCOUNT
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
